* {
    margin: 0;
    padding: 0;
}
.g-caption-element {
    font-size: 20px;
    font-weight: 800;
    color: #000;
}
.item {
    line-height: 1.5;
}

.line {
    display: block;
}

.table-members {
    width: 100%;
    border-collapse: collapse;
}
th {
    padding: 10px 5px;
    text-align: center;
}
th,
td {
    border: 1px solid #E9E9E9;
}
td {
    padding: 5px;
}
