.modal {
  position: relative;
  background: #fff;
  border-radius: 3px;
  &__container {
    max-width: 850px;
    padding: 50px 15px 70px;
    margin: 0 auto;
    .sm-block({ padding-bottom: 50px;});
    &--ticket-success {
      max-width: 1000px;
    }
  }
  .close-modal {
    position: absolute;
    right: 16px;
    top: 11px;
    &__wrapper {
      position: relative;
      padding: 5px;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
    &__line {
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 2px;
      width: 30px;
      height: 3px;
      background: @colorMainSecondary;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  .g-caption-inner {
    text-align: center;
    &--ticket {
      margin-bottom: 10px;
      text-align: left;
      .xs-block({ margin-bottom: 5px;})
    }
  }
  .form-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    &__wrapper {
      .row-flex();
      align-self: stretch;
      margin-bottom: 30px;
      .xs-block({ margin-bottom: 20px;})
    }
    &__text {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 25px;
      color: @colorSecondFonts;
      .lg-block({ padding-left: 18px;});
      .xs-block({ padding-left: 10px;});
      &--desc {
        margin-right: 15px;
      }
      &--var {
        display: flex;
        align-items: center;
      }
      .svg {
        margin-left: 15px;
        width: 60px;
        .sm-block({ width: 45px;})
      }
    }
  }
  &__ticket-purchase {
    .g-btn--no-icon {
      span:first-child {
        margin-right: 35px;
        .sm-block({ margin-right: 25px;});
      }
    }
  }
  &__access {
    .g-btn--no-icon {
      min-width: 220px;
    }
  }
  &__ticket-success {
    .ticket__wrapper {
      max-width: 100%;
    }
    .success {
      display: flex;
      align-items: center;
      margin-bottom: 80px;
      .sm-block({ margin-bottom: 50px;});
      .xs-block({ margin-bottom: 30px; align-items: flex-start;});
      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        width: 70px;
        height: 70px;
        border: 1px solid rgba(114, 202, 123, 0.5);
        border-radius: 50%;
        flex-shrink: 0;
        .sm-block({ width: 50px; height: 50px; margin-right: 25px;});
        .xs-block({ width: 35px; height: 35px; margin-right: 15px; margin-top: 10px;});
        .svg {
          width: 30px;
          height: 30px;
          .xs-block({ width: 20px; height: 20px;});
          path {
            fill: rgba(114, 202, 123, 0.5);
          }
        }
      }
      &__text-bold {
        font-size: 2rem;
        font-weight: 800;
        .xs-block({ font-size: 1.6rem;})
      }
    }
    .info {
      display: flex;
      align-items: center;
      .text {
        p {
          line-height: 1.5;
        }
      }
    }
  }
  &__ticket-create {
    .form-modal__wrapper {
      justify-content: center;
      .g-item-form--checkbox {
        margin-bottom: 20px;
        .ss-block({ margin-bottom: 15px;});
      }
    }
    .btn-wrapper {
      display: flex;
      .sm-block({ flex-direction: column;});
      .g-btn {
        align-self: center;
        &:first-child {
          margin-right: 20px;
          .sm-block({ margin-bottom: 10px; margin-right: 0;})
        }
      }
    }
    .checkbox-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 0;
        }
        input {
          display: none;
          &:checked + label::after {
            display: block;
          }
        }
        .checkbox-label {
          position: relative;
          padding-left: 50px;
          .ss-block({padding-left: 40px});
          &::before,
          &::after {
            position: absolute;
            content: '';
            left: 0;
          }
          &::before {
            top: -3px;
            width: 26px;
            height: 26px;
            background: @colorBgGray;
            .sm-block({top: -5px;});
          }
          &::after {
            display: none;
            top: -3px;
            left: 8px;
            transform: rotate(38deg);
            width: 8px;
            height: 16px;
            border-bottom: 2px solid #000;
            border-right: 2px solid #000;
          }
        }
      }
    }
    .editing-label {
      transition: 0.3s;
      border-bottom: 1px solid #000;
      font-size: 1.8rem;
      .sm-block({
        font-size: 1.4rem;});
      &:hover {
        border-bottom-color: transparent;
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.7;
      }
    }
  }
}
